.wrapper {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.container {
  margin: var(--margin-large);
  animation: fadein .25s ease-in-out;
  color: var(--text);
  padding: var(--padding__xlarge);
  margin: var(--margin__large);
  background: var(--background__light);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.fadeIn {
  animation: fadein .25s ease-in-out;
}

.helperText {
  width: 100%;
  margin-top: 15px;
  position: fixed;
  left: 0;
  color: white;
}

.textCenter {
  text-align: center;
}

@keyframes fadein {
  from {
    transform: scale(.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
