html {
  overflow: initial;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  position: relative;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button:global(.transparent) {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  display: block;
}

:global(.fade-background) {
  transition: background .1s linear;
}

:global(.popup) {
  position: fixed;
  left: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 999;
  background: rgba(194, 194, 194, .6);
  animation: fadein .35s ease-in-out;
}

:global(.editor) {
  background: white;
  padding: 15px;
  max-width: 800px;
  width: 100%;
  animation: fadeinScale .4s ease-in-out;
  border-radius: 4px;
  box-shadow: var(--shadow);
}

:global(.noscroll) {
  overflow-y: hidden;
}

@keyframes fadeinScale {
  from {
    transform: scale(.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
